.google-div{
  /* border: 1px solid black; */
  width:300px;
  float:right;
  margin-top:0;
  display: inline-block;
  height: 30px;
}
.sign-out{
  /* border: 1px solid black; */
  width: 400px;
  display: inline-block;
  float: right;
  padding: 10px;
  margin-right: 100px;
}
.sign-out-button{
  width: 100px;
  height: 30px;
  float: right;
  border: 0;
  border-radius: 5px;
  background-color:rgb(200, 142, 136);
}
