.modal{
display: block; /* Hidden by default */
position: fixed;
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow:scroll;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-close{
display: none
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width:20%;
  color: black;
}
.no-of-person{
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(123, 189, 107)
}
.date{
  width: 190px;
  height: 30px;
    border-radius: 10px;
    border:0;
    background-color: rgb(123, 189, 107)
}
.time{
  width: 188px;
  height: 30px;
    border-radius: 10px;
    border:0;
    background-color: rgb(123, 189, 107)
}
.book{
  width: 100px;
  margin: 5px;
  border: 0;
  background-color: rgb(13, 63, 245);
  border-radius:10px;
  color: white
}
.cancel-book{
  width: 100px;
  margin: 5px;
  border: 0;
  background-color: rgb(13, 63, 245);
  border-radius:10px;
  color: white
}
