.show-hotels-div-in-MyBooking{
  width:70%;
  height:auto;
  /* border: 1px solid red; */
  /* padding: 10px; */
  display: grid;
  flex-flow: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  /* justify-content:; */
  margin: auto;
}
.My-Bookings-text{
  font-size: 30px;
}
